/******************************************************************************/
/*                                   GENERAL                                  */
/******************************************************************************/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body a {
  text-decoration: none;
}



/******************************************************************************/
/*                                   CLASSES                                  */
/******************************************************************************/

.nav {
  width: 25%;
  height: 50px;
  margin: 0 1.5%;
  margin-top: .05%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  float: right;
}

.nav a {
  margin: auto;
  font-weight: bold;
  font-size: 1.25em;
  color: #27AFCF;
}

.header {
  width: 100%;
  padding: 1% 0;
  background-color: #192438;
}

.header h1 {
  width: 25%;
  margin: 0 auto;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;

}

.post_header {
  width: 35%;
  margin: 0 auto;
  padding: 5% 0;
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  color: #27AFCF;
}

.button {
  width: 155px;
  height: 55px;
  margin: 0 auto;
  display: flex;
  border-radius: 8px;
  background-color: #E9A34E;
  color: #FFF;
}

.button p {
  margin: auto;
}

.service {
  width: 225px;
  height: 320px;
  margin: 0 .5%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 5px;
  background-color: #FFF;
  color: #636363;
}

.service h4 {
  text-align: center;
  font-weight: bold;
  color: #27AFCF;
}

.service p {
  margin: 6%;
}

.service img {
  width: 80px;
  height: 80px;
  margin: 5% auto;
}

.post_subheader {
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: #27AFCF;
}

.social {
  width: 140px;
  height: 35px;
  margin: auto;
  margin: 0 3%;
  margin-right: 1%;
  display: flex;
}

.social img {
  width: 35px;
  height: 35px;
}

.social a {
  margin: auto;
}

.service_detail {
  width: 390px;
  height: 255px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  background-color: #FFF;
}

.service_detail p {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: #27AFCF;
}

.service_detail ul {
  width: 240px;
  margin: 0 auto;
}

.service_detail li {
  font-size: 1.25rem;
  font-weight: 200;
  color: #636363;
}

/******************************************************************************/
/*                                   HEADER                                   */
/******************************************************************************/

#index_header {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 8%;
  background-color: #192438;
}

#index_nav {
  width: 25%;
  height: 50px;
  margin: 0 1.5%;
  margin-top: -3%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  float: right;
}

#index_nav a {
  margin: auto;
  font-weight: bold;
  font-size: 1.25em;
  color: #27AFCF;
}



/******************************************************************************/
/*                                   BODY                                     */
/******************************************************************************/

#index_body {
  width: 100%;
  padding: 4% 0;
  padding-bottom: 8%;
  background-color: #C7C7C7;
}

#services_post {
  width: 940px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: -8%;
  display: flex;
  flex-direction: row;
}

#index_file > #index_body > .button {
  margin-top: 3.75%;
  background-color: #636363;
}

#index_file > #index_body > .subheader_header {
  margin-bottom: -2%;
}

#index_file > #index_body > .post_header {
  width: 45%;
  margin: 0 auto;
  margin-top: -2%;
  padding: 0;
  color: #FFF;
}

#index_file > #index_body > p {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
  color: #636363;
}

#service_body {
  width: 100%;
  padding: 4% 0;
  padding-bottom: 8%;
  background-color: #636363;
}

#services_list {
  width: 850px;
  height: 820px;
  margin: 0 auto;
  margin-top: -7%;
  padding: 0 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 5px;
  background-color: #FFF;
}



/******************************************************************************/
/*                                   FOOTER                                   */
/******************************************************************************/

footer {
  width: 100%;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  background-color: #333333;
}

footer p {
  width: 30%;
  margin: 0 3.25%;
  margin-top: .25%;
  text-transform: uppercase;
  color: #636363;
}

#copyrights {
  width: 215px;
  align-self: center;
  text-align: center;
  font-size: .75em;
  color: #636363;
}
